@import url('https://fonts.googleapis.com/css?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap');

/* Typographie */
$font-main: 'Open Sans', sans-serif;
$font-title: 'Alata', sans-serif;

/* Couleur  */
$color-1 :#18c443;
$color-2 :  #0f9e33;
$color-3 :  rgb(43, 255, 106);
$color-light: #fff;
$color-dark: #121212;

/* Couleurs theme */
$color-txt: $color-light;
$color-title: $color-light;
$color-link: $color-1;
$color-btn: $color-1;
$color-bg: $color-dark;
$color-header: rgba(darken($color-dark, 15), 0.6);
$color-footer: $color-header;

body{background-color: $color-bg;}

/* Dimensions */
$width-container: 1200px;
$width-gutter: 24px;

$pad-small: 0.2em 0.5em;

