/* ---------------------------- */
/*        Typographies          */
/* ---------------------------- */

/*Astuce pour conversion facile des rem selon px. 
(exemple: 1.6rem pour 16px);*/

html {
  font-size: 62.5%;
}

/* Typo générale du site*/

body {
  font-family: $font-main;
  color: $color-txt;
  font-size: 1.6rem;
  line-height: 1.6;
}
span{
  color:$color-3;
  margin-left: 0.5rem;
}

/* General */
.txt-right {
  text-align: right;
}
.txt-center {
  text-align: center;
}
.txt-shadow {
  text-shadow: 1px 1px 5px rgb(39, 1, 1);
}

/* Titres */

h1,h2,h3,h4,h5,h6 {
  color: $color-title;
  font-family: $font-title;
  line-height: 1.2;
  margin: 0 0 0.5em;
}
h1,
.h1,
.logo {
  font-size: 3.6rem;
  margin: 0.3em 0;
  font-weight: 600;
  font-weight: 800;
  text-transform: uppercase;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.9);
}

.logo {
  font-size: 4.8rem;
  color: $color-3;
}

.logo-link:hover {
  border: 0;
}

h2,
.h2 {
  font-size: 2.4rem;
}
h3,
.h3 {
  font-weight: 400;
  font-size: 2.4rem;
}

h4,
.h4 {
  font-weight: 400;
  font-family: $font-main;
  font-size: 1.8rem;
}

/* Styles de liens */

a {
  color: $color-link;
  text-decoration: none;
  transition: color 0.2s;
  border-bottom: 0px solid;
  &:hover {
    color: darken($color-link, 20);
  }
}

header a,
nav a {
  color: $color-txt;
  text-decoration: none;
}

%btn {
  display: inline-block;
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 0.3em;
  transition: background-color 0.15s;
  border: 2px solid;
  margin: 0.8em 0.2em;
}

.btn {
  @extend %btn;
  color: $color-dark;
  background-color: $color-btn;
  border-color: $color-btn;
  &:hover {
    color: $color-dark;
    opacity: 1;
    background-color: darken($color-btn, 20);
  }
  i {
    margin-right: 0.5em;
  }
}

.btn-ghost {
  @extend %btn;
  color: $color-light;
  border: 2px solid;
  background-color: rgba($color-dark, 0.4);
  &:hover {
    color: $color-light;
    border-color: $color-light;
    opacity: 1;
    background-color: rgba($color-dark, 0.6);
  }
  i {
    margin-right: 0.5em;
  }
}

.btn-list{
  display: inline-block;
  color: $color-dark;
  background-color: rgba($color-light, 0.5) ;
  text-decoration: none;
  padding: 0.05em 0.35em;
  transition: background-color 0.15s;
  margin: 0.3em 0.3em;
  &:hover{
    background-color: $color-light;
  }
}
