/* -------------------------------- */
/*          HEADER & NAV            */
/* -------------------------------- */

/* Bannières */

.banner-message{
  padding-top: 15vh;
}

.banner{
  min-height: 20vh
}

#home .banner{
  min-height: 100vh;
  background-image: url(/images/banner.jpg);
  background-size: cover;
  background-position: bottom right;
  background-attachment: fixed; 
}

#page .banner{
  background-image: url(/images/banner-tv.jpg);
  background-size: cover;
  background-position: center center;
  min-height: 30vh;
}

#page .logo{
    font-size: 3.6rem;
}

/*--------- NAV ---------*/


nav{
  background-color: rgba($color-header, 0.3);
}

nav li{
  display: inline-block;
  margin-left: 2rem;
}

nav .current{
  border-bottom: 3px solid $color-txt;
}

#main-nav{
  background-color: $color-header;
}

.form-recherche{
  margin-left: 2em;
}

.form-recherche input{
  padding-left: 3rem;
}

.form-recherche i{
  margin-right: -3rem;
}

/* ---------------------------- */
/*          FOOTER              */
/* ---------------------------- */

footer{
  background-color: $color-footer;
  padding: 0.5rem 0;
  text-align: center;
  clear: both;
}

/* ------------------------- */
/*       COMPOSANTES         */
/* ------------------------- */

main {
  padding-bottom: 1rem;
}

.carousel {
  @extend .clean-ul;
  @extend .w100;
  li {
    display: block;
  }
}

.titre-film {
  font-size: 1.8rem;
  display: inline-block;
  padding: $pad-small;
  color: $color-bg;
  background-color: lighten($color-3, 10);
  transition: 0.2s background-color;
  border-right: 5px solid $color-bg;
  border-bottom: 5px solid $color-bg;
}

.card-film {
  width: 50%;
  @extend .w33;
  padding: $width-gutter/2;
  position: relative;
  img {
    @extend .w100;
  }
  &.current {
    background-color: $color-header;
  }
  a {
    @extend .w100;
    display: block;
    color: $color-txt;
    transition: 0.3s all;
    &.lien-fiche {
      transition: 0.2s transform;
      transform: translate(-8px, -8px);
      &:hover {
        .titre-film {
          background-color: darken($color-3, 15);
        }
      }
    }
    &.lien-jouer,
    &.lien-detail {
      @extend .txt-center;
      @extend .txt-shadow;
      opacity: 0;
    }
    &.lien-jouer {
      font-size: 8rem;
    }
    &.lien-detail {
      font-size: 3.5rem;
    }
    i {
      transition: 0.2s transform;
      transform: translateY(0);
    }
  }
  &_overlay {
    @extend .overlay;
    @extend .flex;
    padding: $width-gutter/2;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.2s background-color;
    &:hover {
      background-color: rgba(0, 0, 0, 0.3);
      a {
        &.lien-fiche {
          transform: translate(0, 0);
        }
        &.lien-jouer {
          opacity: 1;
          &:hover {
            transform: scale(1.1);
          }
        }
        &.lien-detail {
          opacity: 1;
          &:hover {
            opacity: 0.6;
          }
        }
        &.lien-detail i {
          transform: translateY(10px);
        }
      }
    }
  }
}
 
.background-image {
  background-size: cover;
  background-position: center center;
  height: 100%;
  &_overlay {
    min-height: 60vh;
    background-color: rgba($color-dark, 0.7);
  }
}

#page.fiche .background-image{
  background-position: top center;
  background-attachment: fixed;
}

.close {
  color: #fff;
  font-size: 3.6rem;
}

.tiroir {
  background-color: $color-header;
}

.tiroir .content {
  padding: 3rem $width-gutter 1rem;
  height: 100%;
}

.fiche .content {
  padding: 4rem 0 10rem;
}

.details a {
  @extend .btn-list;
}

.tabs-container {
  margin-top: -4.9rem;
}

.tabs-container .tab {
  display: inline-block;
  padding: 0 1.2em;
  line-height: 5rem;
  margin-right: 0.2em;
  font-size: 2rem;
  background-color: rgba($color-bg, 0.4);
}

.tabs-container .tab.current {
  background-color: $color-bg;
  color: $color-txt; 
}

.content-tabs {
  padding: 3rem 0;
}

.video-container{
  position: relative;
}

.video-container .retour{
  color: $color-txt;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 5rem;
  padding: 0.5em;
}

.video-container .retour:hover{
  color: $color-1;
}

.CreationCompte
{
  background-color: rgba($color-header, 0.6);
  display:block;
  width:fit-content;
  margin:auto;
  margin-top:8%;
  padding:25px;
  border-radius: 5px;
}

.listeSuggestion
{
  display:block;
  color: black;
  padding:5px;
}

.listeSuggestion:hover
{
  display:block;
  color: black;
  padding:5px;
  background-color: $color-2;
}

#suggestions
{
  display:block;
  width: 232.18px;
  margin-left:-10px;
  position: absolute;
  background-color: white;
  z-index: 1000;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}