/* ----------------------*/
/* ---- Formulaires ---- */
/* ----------------------*/

.frm-ligne{
  margin-bottom: 1.5rem;
}

label{
  display: block;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.inline-label{
  display: inline;
  font-size: 1rem;
}

input{
  color: $color-txt;
  padding: 0.5rem;
  line-height: 1.5;
  background-color: rgba(0,0,0,0.2);
  border: 1.5px solid lighten($color-bg, 60);
  &:focus{
    border-color:$color-3;
  }
}

fieldset>div{
  margin-bottom: 2rem;
}

legend{padding: 0 1rem;}

textarea{padding: 1rem;}

select{
  min-width: 250px;
  padding: 0.5rem;
  background-color: $color-bg;
  color: $color-txt;
}

#divConn{
  background-color: rgba(0,0,0,0.9);
  padding: 10px;
  float: right;
  position: absolute;
  z-index: 1000;
  margin-left:70%;
}

@media (max-width: 768px) {
  #divConn{
    margin-left: 30%;
  }
}

.inputConn{
  display: block;
  margin: 5px;
}