
.show-on-mobile {
  display: none !important;
}

@media (max-width: 1024px) {
  .card-film {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .show-on-mobile {
    display: block !important;
  }
  .hide-on-mobile {
    display: none !important;
  }

  #page.fiche {
    .div-info {
      width: 100%;
    }
  }

  #main-nav {
    .container.flex-center {
      flex-direction: column;
      align-items: stretch;
    }
    .menu{
      background-color: darken($color-2, 10);
      display: block;
      padding: 0.1em 0.5em;
      text-align: center;
      li{
        display: block;
        margin: 0;
      }
    }
  }
}
